<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<form class="form-horizontal" role="form" name="myform" ng-submit="formSave(myform.$valid)" novalidate>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right"
					for="form-field-1"> 所属产品: </label>

				<div class="col-sm-9">
					<div class="gridStyle" ng-grid="gridProducts"></div>
		            <br>
		            <!-- <div ng-show="pageInfo2">
			            <p>每页显示: {{pageInfo2.size}}, 目前显示: {{pageInfo2.desc}}, 当前页: {{pageInfo2.current}}, 共{{pageInfo2.total}}页</p>
			            <p>
				            <a href="" ng-click="goPrevPage2()" ng-show="pageInfo2.hasPrev">上一页</a> 
				            <a href="" ng-click="goNextPage2()" ng-show="pageInfo2.hasNext">下一页</a>
			            </p>
		            </div> -->
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right"
					for="form-field-1"> 名称: </label>

				<div class="col-sm-9">
					<input type="text" id="form-field-3" name="name" ng-model="currentObj.name" required
						class="col-xs-10 col-sm-5" />
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right"
					for="form-field-1"> 备注: </label>

				<div class="col-sm-9">
					<textarea class="form-control" id="form-field-8"
						ng-model="currentObj.comment"></textarea>
					<span class="help-inline col-xs-12 col-sm-7"> <span
						class="middle">* 不超过100字</span>
					</span>
				</div>
			</div>

			<div class="form-group" ng-show="myform.$invalid||gridProducts.selectedItems<1">
    			<label class="col-sm-2 control-label"></label>

			    <div class="col-sm-10">
			      <div class="alert alert-danger" style="margin-bottom: 0px">
			        <ul>
			          <li ng-show="myform.name.$error.required">风格名称不能为空！</li>
			          <li ng-show="gridProducts.selectedItems.length < 1">所属产品不能为空！</li>
			        </ul>
			      </div>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 no-padding-right">
				    <input type="button" class="btn btn-danger" value="取消" ng-click="dialogClose()" style="float:right;margin: 0 -15%;"/>
				    <input type="submit" class="btn btn-primary" value="确定" ng-disabled="myform.$invalid||gridProducts.selectedItems<1" style="float:right;"/>
				</div>
			</div>
		</form>

	</div>
	<!-- /.col -->
</div>
<!-- /.row -->